extends layout

block script
	script(type='text/javascript').
			$(document).ready(function(){
				$.getJSON("/data" ,function(data){
					$.each(data, function(index, element) {
						var output = "";
						output += "<a href='/" + element.id+ "'>" + element.name + "</a>";
						output += "<p>" + element.body + "&nbsp;&nbsp;&nbsp;";
						output += element.date + "</p><hr/>"
						$(output).prependTo($('#tweetBox'));
					});
				});
		

				$('button').click( function(e){
					e.preventDefault();
					$.post("/", {tweet : $('#tweetInput').val() }, function(){
						var text = $('#tweetInput').val();
						var date = new Date();
						var output = "";
						output += "<a href='/#{user.id}'> #{user.name}</a>";
						output += "<p>" + text + "&nbsp;&nbsp;&nbsp;<span>";
						output += "</span>" + date + "</p><hr/>";
						$(output).prependTo($('#tweetBox'));
						$("#tweetInput").val('');
						});
				});
			});

block left
	div
		p
			a(href="/#{user.id}") #{user.name}
		p @#{user.id}
		p tweets #{user.tweet_number} following #{user.following_number} follower #{user.follower_number}
block right
	#tweetDiv
		form
			input(type="text" placeholder="무슨 일이 일어나고 있나요?")#tweetInput
			button tweet
		#tweetBox