
doctype html
html
	head
		title 트위터
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="//code.jquery.com/jquery-1.11.2.min.js").
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		block script
	body
		<!-- facebook javascript sdk -->
		script.
			$(document).ready(function() {
				$.ajaxSetup({ cache: true });
				$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
					FB.init({
					appId: 1413723592281387,
					version: 'v2.3'
					});
					$('#fbShare').click(function(){
						FB.login(function(){
						FB.ui({
							method: 'feed',
							link: 'https://developers.facebook.com/docs/',
							caption: '페이스북 타임라인에 글 적기',
						}, function(response){});
						}, {scope: 'publish_actions'});
						
					});
				});
			});
		<!-- twitter javascript -->
		script.
			window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));

		#wrapper
			#nav_bar
				nav.navbar.navbar-default
					.navbar-header
						a.navbar-brand(href='#') Twitter with node.js
						div
							ul.nav.navbar-nav
								li
									a(href='/') 홈 
								li
									a(href="/i/notifications") 알림 
								li
									a(href="/") 쪽지 
								li
									a(href="/i/discover") 발견하기
								li
									a(href="/logout") 로그아웃 



			#left_div
				.thumbnail
						.caption
							h3
								a(href="/#{user.id}") #{user.name}
							p @#{user.id}
							p tweets #{user.tweet_number} following #{user.following_number} follower #{user.follower_number}
								block left
					.fb-like(data-send='true', data-width='450', data-show-faces='true')


				
				
			#right_div
				block right
				#tweetBox
					-for(var p in tweet)
						.panel.panel-default
							.panel-heading
								a(href="/#{tweet[p].id}") #{tweet[p].name}
							.panel-body
								p #{tweet[p].body}
								p #{tweet[p].date}
								.dropdown
									button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') 공유하기
										span.caret
									ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
										li(role='presentation')
											a#fbShare(role='menuitem', tabindex='-1', href='#') 페이스북
										li(role='presentation')
											a(role='menuitem', tabindex='-1', href="https://twitter.com/share" text="custom share text") 트위터
										li(role='presentation')
											a(role='menuitem', tabindex='-1', href='#') 기타
